body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  align-items: center;
  margin: 0 50px;
  background-color: #f4f4f4;
  color: #333;
  background-color: tan;
}

h1,
h2 {
  color: #2d2d2d;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Affect all <a> elements within the footer */
footer a {
  text-decoration: none; /* Removes underline */
  color: blue; /* Sets text color */
  font-size: 2em; /* Changes font size */
}

/* Add hover effect for all <a> elements within the footer */
footer a:hover {
  color: rgba(255, 0, 0, 0.603); /* Changes color on hover */
  text-decoration: underline; /* Adds underline on hover */
  cursor: pointer; /* Changes cursor to pointer */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7vh;
  padding-bottom: 2vh;
}
